.sidebar {
  background-color: #fff;
  height: 100vh;
  left: 0;
  padding: 0 10px 0 5px;
  position: fixed;
  top: 0;
}

.sidebar-content {
  margin-top: 100px;

  button {
    display: block;
    margin: 0 0 5px 0;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    bottom: 0;
    height: auto;
    top: auto;
    width: 100vw;

    .sidebar-content {
      margin: 0 auto;
      padding: 5px 0;
      width: fit-content;

      button {
        display: inline-block;
        margin: 0 20px 0 0;
      }
    }
  }
}
