.side-content-container {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 30px 20px 10px;

  h2 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
